/** recommending PopUpMenu */
.about_popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(174, 174, 174, 0.4);
    z-index: 3;
}

.pop_form {
    position: fixed;
    top: 20px;
    bottom: 20px;
    margin: 0 auto;
    width: 832px;
    height: auto;
    background-color: #fff;
}

.popup_header {
    padding: 0;
    width: 100%;
    height: 44px;
    background-color: #c22d2f;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #fff;
}
.popup_close{
    float: right;
    width: 20px;
    height: 20px;
    margin: 10px 14px;
    cursor: pointer;
}
.popup_title{
    float: left;
    width: 100px;
    margin: 10px 14px;
}

.popup_box {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.popup_content {
    margin: 30px auto;
    width: 700px;
    height: auto;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #4d4d4d;
    vertical-align: middle;
    text-align: left;
    line-height: 40px;

}

.popup_content tr {
    height: 36px;
}

.popup_content select {
    min-width: 100px;
}

.popup_content .popup_textarea {
    height: 170px;
    width: 100%;

}

.popup_textarea textarea {
    height: 130px;
    width: 100%;
    resize: none;
    line-height: 20px;
    font-size: 14px;

}

.popup_submit{
    width: 162px;
    height:45px;
    border-radius: 6px;
    background-color: #c22d2f;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #fff;
    letter-spacing: 30px;
    text-align: center;
    border: 0;
    outline: 0;
}

/** introducing content */
.about_intro {
    width: 1000px;
    height: 440px;
    margin: 45px auto;
    padding: 0;
}

.about_intro_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}

.about_img_left {
    float: left;
    width: 712px;
    height: auto;
    margin: 0 0 28px 0;
    padding: 0;
}

.about_img_right {
    float: right;
    width: 124px;
    height: auto;
    margin: 48px 80px;
}

.about_introduction {
    clear: both;
    margin: 0 0 4px 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #4d4d4d;
}

.color_lump_green {
    margin: 0;
    background-color: #45ad96;
    position: relative;
    width: 100%;
    height: 172px;
}

.lump_green_scroll {
    position: absolute;
    left: 48%;
    top: -37px;
    cursor: pointer;
}

/** introduction list */

.about_list {
    width: 1000px;
    height: auto;
    margin: 50px auto 30px auto;
}

.about_list li {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.about_list .list_name {
    float: left;
    width: 135px;
    height: auto;
    margin: 0 0 30px 0;
}

.about_list .list_short {
    float: left;
    margin: 0 0 30px 32px;
    padding: 0;
    width: 200px;
    height: auto;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #4d4d4d;
}

.about_list .list_content {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #4d4d4d;
}

/** blue lump */

.color_lump_blue {
    margin: 0;
    background-color: #0ba5d2;
    position: relative;
    width: 100%;
    height: 172px;
}

.lump_blue_scroll {
    position: absolute;
    left: 48%;
    top: -37px;
    cursor: pointer;
}

/** join us */
.color_lump_content {
    width: 980px;
    height: 106px;
    margin: 30px auto;
    padding: 30px;
}

.color_content_l {
    width: 200px;
    height: auto;
    margin: 0 16px;
    font-family: "Microsoft YaHei";
    font-size: 48px;
    color: #fefefe;
}

.color_content_r {
    width: 300px;
    height: auto;
    margin: 16px 130px 10px 530px;
    font-family: "Microsoft YaHei";
    font-size: 30px;
    color: #fefefe;
}

.about_join_us {
    width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 44px auto;
    padding: 0;

}

.about_join_intro {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #4d4d4d;
    line-height: 24px;
}

.about_join_job {
    margin: 28px 0;
    padding: 0;
}

.about_join_job p {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #0ba5d2;

}

.about_join_job .join_job_l {
    float: left;
    margin: 26px 4px;
    padding: 0;

}

.join_job_name {
    color: #4c4c4c;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    position: relative;
    top: 60px;
    left: 20px

}

.join_job_circle{
    float: left;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #fff;
    border: 3px solid #0ba5d2;
    cursor: pointer;
}
.join_job_circle:hover{
    background-color:#0ba5d2;
}

.join_teacher_duty {
    clear: both;
    margin:0;
    padding: 36px 0 0 0;
    color: #4c4c4c;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;

}

.join_job_l .join_button input {
    display: inline-block;
    width: 220px;
    height: 45px;
    -webkit-border-radius: 6px/5px;
    -moz-border-radius: 6px/5px;
    border-radius: 6px/5px;
    background-color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #0ba5d2;
    border: 3px solid #0ba5d2;
    letter-spacing: 12px;
    outline: 0;
    font-weight: 500;
}

.join_button_1 {
    margin: 16px 14px 16px 2px;

}

.join_button_2 {
    margin: 16px 0 16px 14px;
}

.about_join_job .join_job_r {
    float: right;
    margin: 26px 4px;
    padding: 0;
}


.join_job_r .join_button_3 {
    display: inline-block;
    width: 220px;
    height: 45px;
    -webkit-border-radius: 6px/5px;
    -moz-border-radius: 6px/5px;
    border-radius: 6px/5px;
    border: 3px solid #0ba5d2;
    background-color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #0ba5d2;
    letter-spacing: 12px;
    outline: 0;
    margin: 14px 4px;
    font-weight: 500
}

.join_button>input,.join_job_circle{
    -webkit-transition: all 300ms ease-in-out 0s;-moz-transition: all 300ms ease-in-out 0s;-ms-transition: all 300ms ease-in-out 0s;-o-transition: all 300ms ease-in-out 0s;transition: all 300ms ease-in-out 0s;
}
.join_button input:hover{
    background-color: #0ba5d2;
    color: #ffffff;
}

/** recruitment advertising end */

/** map lump */
.about_map_lump {
    width: 100%;
    height: 174px;
    background: url('../img/about_yipin/about_yipin_45.jpg');
}

.about_map_lump .map_address {
    position: relative;
    top: 60%;
    left: 15%;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #fff;
}

/** connect us */

.about_connect_us {
    width: 960px;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 28px auto;
}

.about_connect_title {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #4c4c4c;
}

.about_connect_us .connect_way {
    padding: 0;
    margin: 18px 0;
    overflow: hidden;
}

.connect_way li {
    float: left;
    margin: 40px 0 40px 80px;
    width: 180px;
    height: auto;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #4c4c4c;
}

.connect_way li:first-child {
    margin: 44px 0;
    color: #e31d1d;
}

.about_connect_us .link_title {
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #4c4c4c;
}

.about_connect_us .link_website {
    margin: 36px 6px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #4c4c4c;

}
.link_website a{
    color: #4c4c4c;
}

.link_website tr {
    height: 30px;
}

.link_row1 {
    width: 36%;
}

.link_row2 {
    width: 36%;

}

.link_row3 {
    width: 28%;
}

