.mask {
  position: fixed;
  background-color: black;
  opacity: 0.4;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
.yidiglog {
  z-index: 999;
}
.dialog {
  background-color: #ffffff;
  margin: 0 auto;
}
.dialog p {
  height: 50px;
  line-height: 50px;
  position: relative;
  padding: 0 10px;
  background-color: #c22d2f;
  color: white;
  font-family: 'microsoft yahei';
  font-size: 20px;
}
.dialog p .icon-remove {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  color: #ffffff;
}
.yipin_login {
  position: absolute;
  width: 50%;
  z-index: 999;
  margin: 0 auto;
}
.yipin_login .login_form .yipin_form {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.yipin_login .login_form .yipin_form .yipin_label {
  width: 2%;
  font-size: 20px;
}
.yipin_login .login_form .yipin_form .yipin_forgetpsd {
  float: right;
  margin-right: 30px;
}
.yipin_login .login_form h3 {
  text-align: center;
}
.yipin_login .login_form .btn-default {
  width: 70%;
  background-color: #c22d2f;
  color: #ffffff;
  font-family: 'microsoft yahei';
  font-size: 25px;
  height: 50px;
}
.hide {
  display: none !important;
}
.active {
  color: #c22d2f !important;
  font-weight: bolder !important;
}
